@reference "tailwindcss";
.cartItemsImage{
    /* background-image: url("https://superblog.supercdn.cloud/site_cuid_ckucmy84h97811nplkx3qfbgx/images/screenshot-1081-1709717744322-compressed.png"); */
    background-image: url("https://d2d5n4ft74bagm.cloudfront.net/media/banners/015cfd34-cac7-48d4-a80c-cc5cf8e9efcd/1746260322.jpeg?w=90");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: absolute;
    padding: 2px 2px;
    height: 100%;
    width: 100%;
    
}