.NavbarItems{
    cursor: pointer;
    opacity: 0.7;
    
}

@reference "tailwindcss";
.navbarItemsPressed{
    @apply text-[#403F4C] border-b-3 border-[#D1D5DB];
}

.navbarItemsStill{
    @apply text-black md:text-[#8C8C94] ;
    font-family: "Space Grotesk";
}
/* .NavbarItems:hover{
    border-bottom-width: 3px;
    border-color: red;
    transition: 0.5s;
    opacity: 0.9;
    color: red;


} */





